:root {
    --primary-color: #283246;
}

.area{
    width: 70%;
    margin: 0 auto;

}
    .grid{
        display: grid;
        grid-template-columns: 100%;

    }

    aside{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    header{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .divs{
        grid-column: 1/2;
        grid-row: 3/4;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    main{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .nav ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: var(--primary-color);
        box-shadow: 0 0 5px;
    }

body * {
    -moz-transition: width .5s ease-in-out,left 1s ease-in-out;
    -webkit-transition: width .5s ease-in-out,left 1s ease-in-out;
    -o-transition: width .5s ease-in-out,left 1s ease-in-out;
    transition: width .5s ease-in-out,left 1s ease-in-out;

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eef1f5;
    font-family: Arial, Helvetica, sans-serif;
}

section, h1, li, img {
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}

/*.animateDiv {*/
/*    animation: rotate 3s cubic-bezier(0, -0.02, 1, 0.96) infinite;*/
/*}*/

/*@keyframes rotate {*/
/*    from {*/
/*        transform: rotate(360deg);*/
/*    }*/

/*    to {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*}*/

.div2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background: #e3e3ec;
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    margin-bottom: -8px;
}
header h1{
    font-weight: 900;
}

h1,
h2,
legend{
    color: var(--primary-color);
    text-align: center;
}

h2{
    margin-top: 3%;
}

a{
    text-decoration: none;
}

aside{
    z-index: 99999;
    position: sticky;
    top: 0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

nav li a:hover,
form input[type=submit]:hover
{
    background-color: rgb(65, 76, 124);
}


.about p,
caption,
.form span, ol{
    font: bold 20px Garamond, serif;
    padding-right: 5%;
    text-align: justify;
    line-height: 1.3;
}

.about p b,
.form ol li{
    color: var(--primary-color);
    margin-bottom: 1%;
}

.about div{
    display: flex;
    align-items: center;
}

 .genres div{
    overflow-x:auto;
}

/* ТАБЛИЦА */
.genres table{
    width: 100%;
}


table th {
    text-align: center;
    border: none;
    padding: 10px 15px;
    background: var(--primary-color);
    font-size: 14px;
    color: white;
}
table tr th:first-child {
    border-radius: 8px 0 0 8px;
}
table tr th:last-child {
    border-radius: 0 8px 8px 0;
}
table td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}
table tr:nth-child(odd){
    background: #e3e3ec;
}
table tr td:first-child {
    border-radius: 8px 0 0 8px;
}
table tr td:last-child {
    border-radius: 0 8px 8px 0;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb {
    background:var(--primary-color);
    border-radius: 10px;
}

/* ФОРМА */

input {
    padding: 8px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 40%;
    background-color: var(--primary-color);
    color: white;
    padding: 8px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #e3e3ec;
    padding: 20px;
    margin-bottom: 30px;
}

fieldset{
    border: none;
}

legend{
    font-size: 20px;
    font-weight: bold;
}

.footer{
    width: 100%;
}

.footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0 0 2% 0;
    padding: 0;
}

.footer ul li {
    margin-right: 3%;
}

.footer span{
    font: italic small-caps 12px Arial, Helvetica, sans-serif;
}

.allfooter{
    margin-top: 30px;
    background-color: #e3e3ec;
    width: 100%;
}

button{
    background: none;
    color: #292929;
    padding: 6px 10px;
    margin: 8px;
    border: 1px solid #292929;
    border-radius: 20px;
    cursor: pointer;
}

.active {
    color: #afafaf;
}



.superLi:hover {
    transform: rotate(360deg);
    transition: .3s;
    color: #afafaf;
}

.cat {
    border-radius: 10px;
}

.cat:hover {
    filter: contrast(150%);
    cursor: pointer;
    transition: .3s;
}

button:hover {
    transition: .3s;
    background: var(--primary-color);
    box-shadow: 0px 0px 9px 1px #363694;
    color: #dcdcdc;
}

.areaJS{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow-x:auto;
}

/*.animateBody {*/
/*    animation: rotateBody 3s cubic-bezier(0, -0.02, 1, 0.96) infinite;*/
/*}*/

/*@keyframes rotateBody {*/
/*    from {*/
/*        transform: rotate(0deg);*/
/*    }*/

/*    to {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/

.post{
    width: 70%;
    margin: 30px auto;
    background-color: #e3e3ec;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.animatedBtn {
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    color: #e3e3ec;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 1px 1px 20px 0px var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.animatedBtn:hover {
    width: 150px;
}

/*.btn {*/
/*    position: relative;*/
/*}*/

/*.dancedFrog {*/
/*    animation: frogrotate 3s cubic-bezier(0, -0.02, 1, 0.96) infinite;*/
/*    width: 639px;*/
/*    background-color: #e3e3ec;*/
/*    box-shadow: 1px 1px 20px 0 var(--primary-color);*/
/*    border-radius: 8px;*/
/*    margin: 0 auto;*/
/*}*/

/*@keyframes frogrotate {*/
/*   from {*/
/*       transform: rotate(0deg);*/
/*   }*/
/*    to {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/

.post span {
    position: relative;
    float: right;
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}